<!DOCTYPE html>
<html>
  <head>
    <title>Surfing</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="content">
      {{#journal_entry}}
      <h1>
        {{title}}
      </h1>
      <hr>
      <p>
        {{content}}
      </p>
      <p>
        Created at: {{created_at}}
      </p>
      <div>
        <a href="/edit_journal_entry?id={{id}}">Edit journal entry</a>
      </div>
      <div>
        <form action="/delete_journal_entry" method="post">
          <input name="id" type="hidden", value="{{id}}">
          <input type="submit" value="Delete">
        </form>
      </div>
      {{/journal_entry}}
    </div>
  </body>
</html>